<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA1QWCXtRnlQxCiapVIdzLUm8UWPSOczKI</string>
	<key>GCM_SENDER_ID</key>
	<string>949036812555</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.noteWorthy.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>note-worthy-f9ed7</string>
	<key>STORAGE_BUCKET</key>
	<string>note-worthy-f9ed7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:949036812555:ios:d2bb66c4895c2a300bfa0e</string>
</dict>
</plist>